* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden !important;
}

.bodyClone {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

p,
.actMainMenu li {
  font-size: 14px;
  line-height: 24px;
}

.feat-line {
  position: relative;
  bottom: 6px;
  width: 37px;
  border-top: 5px solid black;
}

.translateToShow {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

header {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 100;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
}

header nav .logo {
  cursor: pointer;
}

header nav h1 {
  pointer-events: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

header nav span {
  color: #fda300;
}

header .actMainMenu {
  width: 50%;
  margin-top: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .actMainMenu li {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .actMainMenu li a {
  color: black;
}

header .actMainMenu li a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.623);
}

#burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
}

#burger div.burgerButton {
  position: relative;
  z-index: 99;
  height: 25px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#burger div.burgerButton .line {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: black;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}

#burger .activeButton .line {
  background-color: #8f8f8f;
}

#burger .activeButton .l1 {
  -webkit-transform: translateY(11px) rotate(-405deg);
          transform: translateY(11px) rotate(-405deg);
}

#burger .activeButton .l2 {
  opacity: 0;
}

#burger .activeButton .l3 {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

@media (max-width: 767px) {
  header .actMainMenu {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 80;
    background-color: white;
    margin-top: 0;
  }
  header .actMainMenu li {
    display: block;
    text-align: center;
    width: 100vw;
    font-size: 20px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header .actMainMenu li a {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .actMainMenu li a:hover {
    text-decoration: none;
  }
  header .actMainMenu li:hover a {
    letter-spacing: 0.2rem;
  }
  #burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

section#sect-1 {
  margin-top: 4rem !important;
  background-color: #f1f1f1;
  height: auto;
  overflow: hidden;
}

section#sect-1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.sect-1-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sect-1-img img {
  height: 550px;
  width: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.actualSect1 {
  height: 35rem;
}

.actualSect1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 767px) {
  section#sect-1 {
    height: 50rem;
  }
  .sect-1-text {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .sect-1-text h2 {
    font-size: 36px !important;
    margin: 0 auto 2rem;
  }
  .sect-1-img {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sect-1-img img {
    height: 550px;
    max-width: 95vw !important;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

section#skills {
  padding: 100px 0;
}

section#skills .indSkill img {
  height: 70px;
  width: auto;
}

section#skills .indSkill h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 1rem 0;
}

section#skills .indSkill p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

section#perfect {
  padding: 113px 0;
  background-color: #f7f7f7;
}

section#perfect h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}

section#perfect span {
  color: #fda300;
}

section#perfect .perfect-text {
  padding: 54px 2%;
}

section#perfect .perfect-features {
  padding-right: 8vw;
}

section#perfect .perfect-features p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
}

section#perfect .perfect-features h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

section#perfect .feat-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 575px) {
  section#perfect .perfect-text {
    padding: 54px 5%;
  }
}

section#works .rowRa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#works .rowRa > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  height: 200px;
  position: relative;
  max-width: 250px;
  margin: 1rem;
}

section#works .rowRa > div img {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section#works h3 {
  margin: 3rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

section#works span {
  color: #fda300;
}

section#works .work-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section#works .work-image-overlay h4 {
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

section#works .work-image-overlay:hover {
  opacity: 1;
}

section#works .work-image-overlay:hover h4 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section#testimonials main {
  padding: 100px 0;
  position: relative;
}

section#testimonials .testim-qoutes {
  position: absolute;
  top: 10%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section#testimonials h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 3rem;
}

section#testimonials .reviews {
  padding: 0 20vw;
}

section#testimonials .stars {
  margin: 2rem 0 1rem;
}

section#testimonials .stars i {
  color: #fda300;
}

section#testimonials .revPerson img {
  margin: 1rem 0;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section#testimonials .revPerson h4.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

section#testimonials .revPerson h4.desig {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.brands {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.brands img {
  height: 2rem;
  width: auto;
}
/*# sourceMappingURL=styles.css.map */