@import "./globals";

.translateToShow {
  transform: translateX(0%) !important;
}

header {
  background-color: color(sect1Bg);
  position: fixed;
  top: 0;
  z-index: 100;
  nav {
    @include flex(space-between, center);
    min-height: 4rem;
    .logo {
      cursor: pointer;
    }
    h1 {
      pointer-events: none;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 32px;
    }
    span {
      color: color(second);
    }
  }
  //   MENUE STYLing
  .actMainMenu {
    width: 50%;
    margin-top: 10px;
    list-style: none;
    @include flex(space-between, center);

    li {
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      transition: all 0.3s ease;
      a {
        color: black;
        &:hover {
          text-decoration: underline;
          color: rgba(0, 0, 0, 0.623);
        }
      }
    }
  }
}

#burger {
  @include flex(flex-end, flex-end);
  display: none;
  div.burgerButton {
    position: relative;
    z-index: 99;
    height: 25px;
    width: auto;
    @include flex(space-between, center);
    flex-direction: column;
    .line {
      transition: 0.5s all ease;
      background-color: black;
      height: 3px;
      width: 30px;
      border-radius: 5px;
    }
  }
  .activeButton {
    .line {
      background-color: rgb(143, 143, 143);
    }
    .l1 {
      transform: translateY(11px) rotate(9 * (-45deg));
    }
    .l2 {
      opacity: 0;
    }
    .l3 {
      transform: translateY(-11px) rotate(45deg);
    }
  }
}
// // THIS SECTION MEDIA QURIES
@media (max-width: 767px) {
  header {
    .actMainMenu {
      transform: translateX(100%);
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      @include flex(space-evenly, center);
      flex-direction: column;
      z-index: 80;
      background-color: white;
      margin-top: 0;
      li {
        display: block;
        text-align: center;
        width: 100vw;
        font-size: 20px;
        transform: translateX(100%);
        a {
          transition: 0.3s ease;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          a {
            letter-spacing: 0.2rem;
          }
        }
      }
    }
  }
  #burger {
    display: flex;
  }
}

.upper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.52);
  @include idealFlex;
  display: none;
  a {
    position: relative;
    bottom: 0.2rem;
  }
  i {
    color: black;
    font-size: 1.5rem;
  }
}

// OTHER SECTIONS IMPORTS
@import "./sect-1";
@import "./skills";
@import "./perfect";
@import "./works";
@import "./testi";
@import "./footer";
